/node_modules
/packages
/public/fonts/vendor
/public/hot
/public/storage
/public/uploads
/public/css/app.css
/public/jss/app.jss
/storage/*.key
/vendor
.env
.phpunit.result.cache
composer.lock
package-lock.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
